.todo-list {
  &__task {
    width: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__unchecked {
      width: 180px;
      display: flex;
      align-items: center;
      height: 50px;
      background: rgb(241, 58, 58);
      flex-direction: row;
      border: 0px solid black;
      border-radius: 20px;

      & button {
        padding: 0px;
      }
  
      & img:hover {
        cursor: pointer;
      }

      &:hover {
        cursor: pointer;
      }
    }
  
    &__checked {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 180px;
      height: 50px;
      background: rgb(21, 185, 21);
      border: 0px solid black;
      border-radius: 20px;
      pointer-events: none;
  
      & img:hover {
        cursor: pointer;
      }
    }
  }

  &__text-task {
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__done-text {
    color: rgba(255, 255, 255, 1);
    text-decoration: line-through;
  }

  &-button__delete {
    display: flex;
    padding: 0px;
    border: 0px;
    height: 24px;
    width: 24px;
    background: none;
    flex-direction: row;
  }

  &__hide {
    display: none;
  }
}

.task {
  &-container {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &-info {
    display: flex;
    flex-direction: column;
    min-width: 170px;
    max-width: 170px;
  }

  &-title {
    font-size: 22px;
    text-align: center;
    margin: 0px;
    width: 170px;
    align-self: center;
    justify-self: center;
  }

  &-buttons {
    margin-left: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    justify-self: end;
  }
}